 
  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400&display=swap');



  
  body{margin:0;
  	padding: 0;
  	box-sizing: border-box;
  }






  .top-nav{padding: 0px;
  	z-index: 999;
  }

  .my-menu{position: absolute;
  	top: 20px;
  	left: 0;
  	width: 100%;
  	z-index: 9999;
  }
  
  .navbar-nav{text-decoration: none;
  }

.fa-bars{color: white;
font-size: 30px;}

.navbar-expand-lg .navbar-nav .nav-link{padding: 0;
}

.nav-item .nav-link{color: white;
margin-right: 20px;
font-family: 'Roboto' , sans-serif;
font-size: 16px;
transition: 0.5s;
padding: 10px 20px ;}

.nav-item:hover .nav-link{color: #8395a7;
}

.dropdown:hover .dropdown-menu{display: block;
}

.dropdown-menu{position: absolute;
top: 100%:
left:0;
z-index: 1000;
display: none;
float: left;
min-width: 12rem;
padding: 0rem 0;
margin: .125rem 0 0;
font-size: 1rem;
color: #212529;
text-align: left;
list-style: none;
background-color: #fff;
background-clip: padding-box;
border:0px solid rgba(0,0,0,.15);
border-radius: 4px;
}


.dropdown-item{display: block;
width: 100%;
padding: 11px 0px 11px 20px;
font-family: 'Roboto' , sans-serif;
font-size: 15px;
border-bottom:1px solid rgba(220,221,225,0.3);
clear:both;
font-weight: 300;
color:#212529;
text-align: inherit;
white-space: nowrap;
background-color: transparent;
}


.dropdown-menu:before{position: absolute;
top:-9px;
border:none;
outline: none;
left: 15px;
content: '';
width: 15px;
height: 10px;
background-color: white;
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);}






.slider-wrap{position: relative;
width: 100%;
overflow: hidden;
}

.carousel-item > img{width: 100%;
height: 700px;
}

.carousel-caption{position: absolute;
top: 0;
left: 0;
text-align: center;
width: 100%;
height: 100%;}

.slider-inner{position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);

}

.icons{width: 40px;
height: 55px;
position: absolute;
right: 0;
top: 0;
display: inline-block;}

.icons i{font-size: 20px;
	color: grey;
	line-height: 55px;
	font-weight: 200;

}

.icon{width: 40px;
height: 55px;
position: absolute;
right: 0;
top: 0;
display: inline-block;}

.icon i{font-size: 20px;
	color: grey;
	line-height: 55px;
	font-weight: 200;

}

.slider-content{position: relative;
width: 100%;}

.slider-content > h5{font-size: 45px;
color: white;
text-transform: uppercase;
font-weight: bold;
margin: 250px 0px 0px 0px;
font-family: 'Roboto' sans-serif;
letter-spacing: 4px;
}


.slider-content > p{font-size: 20px;
color: white;
text-transform: capitalize;
font-weight: normal;
margin: 10px 0px 30px 0px;
font-family: 'Roboto' sans-serif;
}

.form-control{display: block;
width: 100%;
height: 55px;
line-height: 55px;
padding: 0px 0px 0px 15px;
font-size: 1rem;
outline: 0 !important;
color:#495057;
background-color: #fff;
background-clip: padding-box;
border-right: 1px solid #ecf0f1;
border-radius: 0rem;
transition: border-color .15s ease-in-out;
}


.form-border{border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}

.submit{background: #0984e3;
display: block;
width: 100%;
height: 55px;
line-height: 55px;
border:none;
outline: none;
color: white;
text-transform: white;
font-size: 16px;
font-weight: 400;
cursor: pointer;
font-family: 'Roboto' sans-serif;
transition: 0.5s;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;}


.submit:hover{background-color: #feca57;
color:#576574;
font-family: 'Roboto' sans-serif;
font-size: 16px;
font-weight: bold;

}

::placeholder{font-family: 'Roboto' sans-serif;
font-size: 16px;
 }


.select{font-family: 'Roboto' sans-serif;
font-size: 16px;
 }

 .slider-bottom-wrap{position: relative;
  width: 100%;
}

.slider-bottom{position: absolute;
top:-50px;
width: 100%;
left: 0;
box-shadow: 0px 0px 10px rgba(0,0,0,.2);
background-color: white;
padding: 0;
z-index: 999;
}

.slider-bottom > ul{margin: 0;
padding: 0;
}

.slider-bottom > ul >li{
  width: 20%;
  padding: 15px 0px;
  text-align: center;
  float: left;
  display: inline-block;
  position: relative;
}

.bottom-item{background-color: white;
padding: 10px 0px;
border-right:1px solid #dfe6e9;
text-align: center;
position: relative;}

.bottom-item h4{font-family:'Roboto' sans-serif;
font-size: 18px;
font-weight:100;
margin-top: 10px;
text-transform: capitalize;}

.bottom-icon > i{color:#0984e3;
font-size: 20px;
margin: 0;}


.hotel-item{position: relative;
width: 100%;
height:170px;
border-radius: 5px;
overflow: hidden;
margin: 20px 0px;
border:1px solid green;
}

.hotel-bg{width: 100%;
padding: 100px 0px;
background-color: rgba(245,246,250,0.4);
position: relative;
overflow: hidden;}

.hotel-overlay{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;

}

.hotel-overlay > svg{height: 100%;
width: 100%;
background-position: center center;
position: absolute;
top:0;
left:-0;}


.main_title_3 h2{border-left:2px solid #b2bec3;
color:#2d3436;
font-weight: 600;
font-family: 'Manjari', sans-serif;
padding-left: 20px;
margin: 0;
}

.main_title_3 p{font-family: 'Manjari', sans-serif;
color:#2d3436;
font-size: 18px;
border-left: 2px solid #b2bec3;
padding-left: 20px;

}


.main_title_3 > a{font-family: 'Manjari', sans-serif;
color:blue;
font-size: 18px;
float: right;
text-decoration: none;
top:0;
right:0;
position: absolute;

}




.call_section{width: 100%;
position: relative;
}

.main_title_2{position: relative;
width: 100%;
padding:60px 15px 60px;}

.main_title_2 span{position: relative;
background-color: #dfe6e9;
width: 200px;
margin: auto;
display: block;
}

.main_title_2 span em{
background-color: #004dda;
width: 60px;
height:4px;
margin: auto;
display: block;
}
.main_title_2 h2{font-size: 35px;
  color: white;
  font-family: 'Roboto' sans-serif;
  padding-top: 30px;

}

.div{width: 100%;
}

.wrapper{background-color: #062354;
width: 100%;
}

.rounded{float: none;
background-color: #0984e3;
color:white;
width: 200px;
height:50px;
line-height: 50px;
padding: 15px 25px 15px 25px ;
border-radius: 35px !important;
text-decoration:  none !important;
transition: .5s;
font-family: 'Roboto' sans-serif;
font-weight: bold;
font-size: 15px;

}

.rounded:hover{color:#747d8c !important;
background-color: #f39c12 !important;
}
.text_para{padding-bottom: 40px;
font-family: 'Manjari' sans-serif;}

.main_title_2 p{color:white;
font-family: 'Manjari' sans-serif;
font-size: 15px;
}



.over{width: 100%;
border-radius: 5px;
overflow: hidden;
margin-bottom:20px;
position: relative;}

.over:before{position: absolute;
content: '';
width: 100%;
height: 100%;
background-color: rgba(0,0,0,.4);
top:0;
left: 0;
transition: .5s;
}


.over img{width: 100%;
height: 100%;
transition: .5s;}

.over:hover img{transform: scale(1.2);
}


.info h3{font-size: 17px;
color: white;
font-family: 'Manjari', sans-serif;
font-weight: bold;
}

.info_1{position: absolute;
top: 119px;
left: 20px;
}

.info_1 h3{font-size: 17px;
color: white;
font-family: 'Manjari', sans-serif;
font-weight: bold;}


.cat_star{display: block;
position: relative;
width:100%;
padding:0;
margin: 0px 3px 0px 3px;
}

.cat_star i{color:rgba(251,197,59,1.0);
font-size: 12px;
}

.text_input{border:0px !important;
padding: 10px;
outline: 0;
position: relative;
border-top-left-radius: 2px ;
border-bottom-left-radius: 2px;
}

.button_submit{margin:0;
padding:11px;
position: absolute;
top: 32px;
border-radius: 0;
border:0;
background-color: #0984e3;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
color: white;
font-family: 'Manjari' sans-serif;
font-weight: bold;
font-size: 15px;
}


.search_icon{font-size: 35px;
margin-bottom: 20px;
color: rgba(243,156,18,1.0);
}

.info_icon{font-size: 35px;
  margin-bottom: 20px;
color: rgba(243,156,18,1.0);
}

.fa-thumbs-up{font-size: 35px;
  margin-bottom: 20px;
color: rgba(243,156,18,1.0);}



.box_how h3{color: white;
font-weight: bold;
font-family: 'Manjari' sans-serif;
font-size: 25px;
}

.box_how p{color: white;
font-family: 'Manjari' sans-serif;
font-size: 15px;
}


.main_section h3{padding-top:20px;
  padding-bottom: 20px;
font-family: 'Manjari' sans-serif;
font-size: 40px;
}

.main_title_2 p{
  font-family: 'Manjari' sans-serif;
  color:white;
  font-size:20px;
}

.app_icons{background-color: transparent !important;
width: 275px;
height:38px;
position: relative;
margin: 40px auto;

}

.app_icons .apple{position: absolute;
top: 0;
left: 0;
}


.app_icons .android{position: absolute;
top: 0;
left:52%;
}


.social_connect h2{color: #2d3436;
font-weight: 400;
font-family: 'Manjari' sans-serif;
font-size:20px;
}

.add_bottom_15 small{padding: 0;
margin: 0;
font-family: 'Roboto' sans-serif;
font-weight: 200;
font-size: 15px;
}

.footer{background-color: #ecf0f1;
width: 100%;
padding-top: 40px;
}


.content_footer > .content_footer1 >  h5{color:#333;
text-transform: capitalize;
font-weight: 500;
font-size: 20px;
}


.content_footer  ul{list-style: none;
padding: 0!important;
}

.content_footer ul li{display: block;
position: relative;
transition: 0.5s;
padding-left: 0px;

}

.content_footer1  ul{list-style: none;
padding: 0!important;
}

.content_footer1 ul li{display: block;
position: relative;
transition: 0.5s;
padding-left: 0px;

}



.content_footer ul li a{font-family: 'Manjari' sans-serif;
font-weight: 200px;
font-size: 15px;
color: #7f8c8d;
display: inline-block;
padding: 2px 10px 3px 0px;
transition: .5s;
text-decoration: none;
cursor: pointer;
}

.content_footer ul li a:hover{padding-left: 15px;
color: #0984e3;
}

.content_footer1 ul li a{font-family: 'Manjari' sans-serif;
font-weight: 200px;
font-size: 15px;
color: #7f8c8d;
display:block;
padding-left: 30px;
text-decoration: none;
cursor: pointer;
}

.content_footer1 ul li a> i{position: absolute;
top: 0;
left: 0;
width: 30px;
height: 30px;
}

.content_footer1  i{color: #0984e3;
margin-right: 10px;
font-size: 20px;
}
.content_footer1 .text_Input{border:0px !important;
padding:10px;
outline: 0;
position: relative;
}


.footer_term ul li{
  display: inline-block;
  margin: 0;

}

.footer_term ul li a{
  display: block;
  margin:0;
  padding:0px 15px 0px 15px;
  text-align: left;
  text-decoration:none;
  color:grey;
  font-family: 'Manjari' sans-serif;
  font-size: 16px;
}






































































































































































































